{extend name="public/base" /}
{block name="content"}
<style type="text/css">
    .sb_4{
        color:blue;
    }
    .sb_4 span{
        color:blue;
    }
</style>
<div style="background: #f4f4f4;width:100vw;overflow: hidden;">
    <header>
        <i class="xf_2 sc_1"><img src="__STATIC__/qiantai/img/wo.png"/></i>
        <p class="cn">
            <span>会员编号:{$user_base.nickname}</span>
            <span>会员姓名：{$user_base.real_name}</span>
        </p>
    </header>

    <div class="colount">
        <div class="colount_top">
            <ul>
                <li><a ><p>{$vip[$user_details['lever']]}创客</p>级别</a></li>
                <li><a ><p>{$m_lever[$user_details['manage_lever']]}</p>职务级别</a></li>

            </ul>
        </div>
        <div class="colount_nav">
            <h6 class="ic_h6">我的资产</h6>
            <ul>
                <li><a href="javascript:;" class="iconfont icon-hangqing" ><p>{$user_details['jifen']}</p><span>积分</span></a></li>
                <li><a href="javascript:;" class="iconfont icon-shouyi" ><p>{$user_details['bonus']}</p><span>奖金</span></a></li>
                <li><a href="javascript:;" class="iconfont icon-youhuiquan1" ><p>{$user_details['cash']}</p><span>现金</span></a></li>
                <li><a href="tixian.html" class="iconfont icon-shouru2" ><span>提现</span></a></li>
            </ul>
            <h6 class="ic_h6">记录</h6>
            <ul>
                <li><a href="shouyi_record.html" class="iconfont icon-hangqing" ><span>使用明细</span></a></li>
                <li><a href="shopp_record.html" class="iconfont icon-wenjian" ><span>资产包购买记录</span></a></li>
                <li><a href="tixian_record.html" class="iconfont icon-xinwen" ><span>提现记录</span></a></li>
                <li><a href="{:url('Order/order_list')}" class="iconfont icon-xinwen" ><span>升级商城订单</span></a></li>
                <li><a href="{:url('Order/product_order_list')}" class="iconfont icon-xinwen" ><span>积分商城订单</span></a></li>
                <li><a href="{:url('Order/goods_order_list')}" class="iconfont icon-xinwen" ><span>小商城订单</span></a></li>
            </ul>
            <h6 class="ic_h6">编辑</h6>
            <ul>
                <li><a class="iconfont icon-b2" href="shdz.html"><span>修改收货地址</span></a></li>
                <li><a href="wfwb.html" class="iconfont icon-yinhangqia" ><span>银行卡绑定</span></a></li>
                <li><a href="card.html" class="iconfont icon-shezhi2" ><span>修改个人资料</span></a></li>
            </ul>
            <h6 class="ic_h6">推广</h6>
            <ul>
                <li><a href="team.html" class="iconfont icon-kehu" ><span>我的团队</span></a></li>
                <li><a href="qrcode.html" class="iconfont icon-erweima2" ><span>推广二维码</span></a></li>
                <li><a class="iconfont icon-jingjiren" href="javascript:;"><span>推荐人:<em>{$promo_name}</em></span></a></li>
            </ul>
            <a class="out" href="{:url('login/logout')}">退 出 登 录</a>
        </div>
    </div>
</div>
{/block}
