{extend name="public:base" /}

{block name="css"}
<link rel="stylesheet" href="__PUBLIC__/css/adminPage.css"  media="all">
{/block}

{block name="content"}
<button class="layui-btn layui-btn-normal" onclick="addGoods()"><a href='{:url("Goods/add")}'>添加商品</a></button>
<table class="layui-table">
    <colgroup>
        <col width="70">
        <col width="200">
        <col width="200">
        <col width="200">
        <!--<col width="200">-->
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="100">
    </colgroup>
    <thead>
    <tr>
        <th>编号</th>
        <th>商品名</th>
        <th>价格</th>
        <th>积分</th>
        <!--<th>描述</th>-->
        <th>库存</th>
        <th>状态</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="l"}
        <tr>
            <td>{$l['id']}</td>
            <td>{$l['name']}</td>
            <td>{$l['price']}</td>
            <td>{$l['points']}</td>
            <!--<td>{$l['describe']}</td>-->
            <td>{$l['stock']}</td>
            <td>{if $l['status'] == 1}上架{else $l['status'] == 0}下架{/if}</td>
            <td>{$l['addtime']|date="Y-m-d H:i",###}</td>
            <td>
                <div class="layui-table-cell laytable-cell-1-10">
                    <a class="layui-btn layui-btn-mini" href='{:url("Goods/edit",array("id"=>$l.id))}'  lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-mini" href='{:url("Goods/delete",array("id"=>$l.id))}'>删除</a>
                </div>
            </td>
        </tr>
    {/volist}
    </tbody>

</table>

{/block}


{block name="js"}
<script src="__JS__/fromCommon.js" charset="utf-8"></script>
{/block}

{block name="javascript"}


{/block}