{extend name="public:base" /}
{block name="css"}

<style type="text/css">
    .record ul li h2 i{font-style: normal;color: #ff2d17}
    .order-bt{line-height: 25px;height: 25px;padding-top: 5px}
    .order-bt a{float: left;margin-right: 20px;display: block;line-height: 25px;width: 60px; text-align: center;background-color: #1E9FFF;color: #fff; border-radius: 5px;}
    li a{width: 100px;display: block;float: right;position: relative;text-align: center;background: #008FE0;color: #fff;border-radius: 5px;padding: 5px 0;clear: both}
</style>

{/block}

{block name="content"}

<div class="record">
    <h1 class="h1">购买商品记录</h1>
    <ul>
        {volist name="data" id="d"}
        <li>
            <p>商品：<u>{$d.goods_name}</u>
                {if condition="$d.status==0"}<span style="color:#FFBF05;">驳回</span>
                {elseif condition="$d.status eq 1"}<span style="color:#FF1400;">待支付</span>
                {elseif condition="$d.status eq 5"}<span style="color:#FF1400;">待审核</span>
                {elseif condition="$d.status eq 6"}<span style="color:#FF1400;">待上传凭证</span>
                {elseif condition="$d.status eq 10"}<span style="color:#FF1400;">待发货</span>
                {elseif condition="$d.status eq 11"}<span style="color:#FF1400;">已发货</span>
                {elseif condition="$d.status eq 12"}<span style="color:#FF1400;">已完结</span>
                {/if}</p>
             <p>数量：{$d.goods_num}</p>   
            <p>金额:{$d.total_price}</p>
            <span>{$d.add_time|date="Y-m-d H:m:s",###}</span>
        </li>
        {/volist}

    </ul>
</div>

{/block}



