{extend name="public:base" /}
{block name="style"}
<style type="text/css">
    .details{padding: 20px;}
    .details li{float: left;height: 30px;padding-top: 5px;line-height: 30px;width: 50%}
    .details li span{display: block;float: left;width: 200px;line-height: 30px;text-align: right;}
    .details li p{line-height: 30px;float: left;}
</style>
{/block}
{block name="content"}
<div class="details">
    <li>
        <span>会员ID：</span>
        <p>{$Arr.id}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>会员呢称：</span>
        <p>{$Arr.nickname}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>会员账号：</span>
        <p>{$Arr.account}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>手机号：</span>
        <p>{$Arr.mobile}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>真实姓名：</span>
        <p>{$Arr.realname}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>身份证：</span>
        <p>{$Arr.id_code}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>等级：</span>
        <p>{$Arr.level}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>可获得总收益：</span>
        <p>{$Arr.total_price}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>当前获得收益：</span>
        <p>{$Arr.new_price}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>提现：</span>
        <p>{$Arr.cash}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>重消：</span>
        <p>{$Arr.chongxiao}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>众荟积分：</span>
        <p>{$Arr.funds}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>税加手续费：</span>
        <p>{$Arr.charge}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>注册时间：</span>
        <p>{$Arr.addtime|date="Y-m-d H:i",###}</p>
        <div style="clear: both"></div>
    </li>
    <li>
        <span>最后登录时间：</span>
        <p>{$Arr.last_login_time|date="Y-m-d H:i",###}</p>
        <div style="clear: both"></div>
    </li>
    <div style="clear: both"></div>
    <div style="width: 120px;margin: 0px auto;padding-top: 30px;">
        <a href='{:url("User/index")}' class="layui-btn">返回列表</a>
    </div>
</div>
<div>

</div>

{/block}

{block name="javascript"}


<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form;
        var layer = layui.layer;

        //自定义验证规则
        form.verify({
            sort: function(value){
                if( value == "" || 0 > parseInt(value) || parseInt(value) > 99 ){
                    return '请输入排序1到99数字';
                }
            }
        });

        //监听提交
        form.on('submit(formDemo)', function(data){
            var url = $("#from").attr("data-url");
            var id = $("#id").val();
            var nickname = $("#nickname").val();
            var account = $("#account").val();
            var mobile = $("#mobile").val();
            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                data: {
                    id: id,
                    nickname: nickname,
                    account: account,
                    mobile: mobile
                },
                success: function (data) {
                    if( data.result == 0 ){
                        alert(data.msg);
                        window.location.href='{:url("User/index")}';
                    }else{
                        alert(data.msg);
                    }
                }
            });

            return false;
        });

    });

</script>
{/block}