{extend name="public:layerbase" /}


{block name="content"}


<div style="width: 500px;height: 450px; padding-top: 30px">
    <div id="from" class="layui-form" data-url="{$submitUrl}" >
        <input type="hidden" name="id" value="{$Arr['id']? $Arr['id'] : ''}">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="real_name" lay-verify="required" autocomplete="off" class="layui-input" value="{$Arr['real_name']? $Arr['real_name'] : ''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号</label>
            <div class="layui-input-inline">
                <input type="text" name="id_card" lay-verify="required" autocomplete="off" class="layui-input" value="{$Arr['id_card']? $Arr['id_card'] : ''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">消费等级</label>
            <div class="layui-input-inline">
                <select name="lever" lay-verify="required">
                    <option value="0">--请选择--</option>
                    {foreach name="levelName" item="v" key="k"}
                        <option value="{$k}" {$Arr['level'] == $k ? 'selected' : ''} >{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">销售等级</label>
            <div class="layui-input-inline">
                <select name="manage_lv" lay-verify="required">
                    <option value="0">--请选择--</option>
                    {foreach name="manageName" item="v" key="k"}
                    <option value="{$k}" {$Arr['manage_lv'] == $k ? 'selected' : ''} >{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="javascript"}


<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form;
        var layer = layui.layer;


        //监听提交
        form.on('submit(formDemo)', function(data){
            var url = $("#from").attr("data-url");
            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                data: data.field,
                success: function (da) {
                    if( da.result == 0 ){
                        layer.open({
                            content: da.msg//
                            ,yes: function(index, layero){
                                var tk = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(tk);
                                layer.close(index);
                            }
                            ,cancel:function(index){
                                var tk = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(tk);
                                layer.close(index);
                            }
                        });

                    }
                }
            });

            return false;
        });

    });

</script>
{/block}