{extend name="public:base" /}

{block name="css"}
{/block}

{block name="content"}

<div class="screening">
    <form class="layui-form" action='{:url("User/index")}' method="get">

        <div class="layui-form-item" style="clear: none;float: left">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="realname"  autocomplete="off" class="layui-input" value="{$Arr['realname']? $Arr['realname'] : ''}">
            </div>
        </div>
        <div class="layui-form-item" style="clear: none;float: left">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" name="username"  autocomplete="off" class="layui-input" value="{$Arr['username']? $Arr['usrename'] : ''}">
            </div>
        </div>
        <div class="layui-form-item" style="clear: none;float: left">
            <label class="layui-form-label">等级</label>
            <div class="layui-input-inline">
                <input type="text" name="lever"  autocomplete="off" class="layui-input" value="{$Arr['lever']? $Arr['lever'] : ''}">
            </div>
        </div>

        <div class="layui-form-item" style="clear: none;float: left">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
            </div>
        </div>
        <div class="clear"></div>
    </form>
</div>

<table class="layui-table">
    <colgroup>
        <col width="60">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="100">
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="200">
        <col width="100">
    </colgroup>
    <thead>
    <tr>
        <th>ID</th>
        <th>账号</th>
        <th>手机</th>
        <th>真实姓名</th>
        <th>消费等级</th>
        <th>销售等级</th>
        <th>总业绩</th>
        <th>总收益</th>
        <th>购买时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach $list as $v}
    <tr>
        <td>{$v->uid}</td>
        <td>{$v->username}</td>
        <td>{$v->phone}</td>
        <td>{$v->real_name}</td>
        <td>{$v->lever}</td>
        <td>{$v->manage_lever}</td>
        <td>{$v->total_yeji}</td>
        <td>{$v->total_profit}</td>
        <td>
            {if condition="$v.add_time == 0"}
            待购买
            {else/}
            {$v->add_time|date="y-m-d H:i",###}
            {/if}
        </td>
        <td>
            <div class="layui-table-cell laytable-cell-1-10">
                <a class="layui-btn layui-btn-mini" href='{:url("User/details",array("id"=>$v->uid))}' lay-event="edit">查看</a>
            </div>
        </td>
    </tr>
    {/foreach}
    </tbody>

</table>
<div style="text-align: center">
    {$list->render()}
    <p>共 <span style="color: #FF5722">{$pagetotal}</span> 条</p>
</div>
{/block}


{block name="js"}
<!--<script src="__JS__/fromCommon.js" charset="utf-8"></script>-->
{/block}


{block name="javascript"}

<script type="text/javascript">



    layui.use('form', function(){
        var form = layui.form;

    });

</script>

{/block}