

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台-静态释放</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>



<input type="text" id="pdzt" value="{$pdzt}">




<script src="__PUBLIC__/js/jquery-3.2.1.min.js" charset="utf-8"></script>



<script type="text/javascript">


    function myrefresh(){
        var pdzt = $("#pdzt").val();
        if( pdzt == 1 ){
            window.location.reload();
        }else{
            clearInterval(order);
        }
    }
    var order = setInterval('myrefresh()',3000); //指定1秒刷新一次

</script>


</body>

</html>