{extend name="public:base" /}

{block name="css"}
<link rel="stylesheet" href="__PUBLIC__/css/adminPage.css"  media="all">
{/block}

{block name="content"}

<div class="screening">
    <form class="layui-form" action='{:url("User/index")}' method="get">

        <div class="layui-form-item" style="clear: none;float: left">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" name="account"  autocomplete="off" class="layui-input" value="{$Arr['account']? $Arr['account'] : ''}">
            </div>
        </div>
        <div class="layui-form-item" style="clear: none;float: left">
            <label class="layui-form-label">等级</label>
            <div class="layui-input-inline">
                <input type="text" name="level"  autocomplete="off" class="layui-input" value="{$Arr['level']? $Arr['level'] : ''}">
            </div>
        </div>
        <div class="layui-form-item" style="clear: none;float: left">
            <label class="layui-form-label">总业绩</label>
            <div class="layui-input-inline">
                <input type="text" name="results"  autocomplete="off" class="layui-input" value="{$Arr['results']? $Arr['results'] : ''}">
            </div>
        </div>
        <div class="layui-form-item" style="clear: none;float: left">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" lay-verify="start_time" value="{$Arr['start_time']? $Arr['start_time'] : ''}" name="start_time" id="start_time" placeholder="yyyy-MM-dd HH:mm:ss">
            </div>
        </div>
        <div class="layui-form-item" style="clear: none;float: left">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="end_time" value="{$Arr['end_time']? $Arr['end_time'] : ''}" id="end_time" placeholder="yyyy-MM-dd HH:mm:ss">
            </div>
        </div>

        <div class="layui-form-item" style="clear: none;float: left">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
            </div>
        </div>
        <div class="clear"></div>
    </form>
</div>

<table class="layui-table">
    <colgroup>
        <col width="60">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="100">
    </colgroup>
    <thead>
    <tr>
        <th>ID</th>
        <th>账号</th>
        <th>手机</th>
        <th>真实姓名</th>
        <th>等级</th>
        <th>直推数</th>
        <th>团队业绩</th>
        <th>已获得收益</th>
        <th>注册时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="user" id="u"}
    <tr>
        <td>{$u.id}</td>
        <td>{$u.account}</td>
        <td>{$u.mobile}</td>
        <td>{$u.realname}</td>
        <td>{$u.level}</td>
        <td>{$u.zhitui}</td>
        <td>{$u.results}</td>
        <td>{$u.new_price}</td>
        <td>{$u.addtime|date="Y-m-d H:i",###}</td>
        <td>
            <div class="layui-table-cell laytable-cell-1-10">
                <a class="layui-btn layui-btn-mini" href='{:url("User/details",array("id"=>$u.id))}' lay-event="edit">查看</a>
                <!--<a class="layui-btn layui-btn-danger layui-btn-mini" href="__URL__/delete/id/{$u.id}">删除</a>-->
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>

</table>
{$page}
{/block}


{block name="js"}
<script src="__JS__/fromCommon.js" charset="utf-8"></script>
{/block}


{block name="javascript"}

<script type="text/javascript">

    layui.use('table', function(){
        var table = layui.table;
        //监听工具条
        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'detail'){ //查看
                var id = data.id;
                layui.use('layer', function(){
                    var layer = layui.layer;
                    layer.open({
                        title:"订单详情",
                        type: 2,
                        area: ['800px', '800px'],
                        content: ['/admin/Package/order_details?id='+id, 'no'],
                        end: function () {
                            location.reload();
                        }
                    });
                });
            }else if(layEvent === 'del'){ //失败
                var status = data.statusVal;
                if( status == 10 || status == 15 ){
                    prompt_From_one("此订单不能删除");
                    return false;
                }
                layer.confirm('确定为删除吗？不可更改！', function(index){

                    var id = data.id;
                    $.ajax({
                        type: 'POST',
                        url: '{:url("Package/order_del")}',
                        dataType: 'json',
                        data: {id: id,status:0},
                        success: function (data) {
                            layer.close(index);
                            if( data.result != 0 ){
                                prompt_From_one(data.msg);
                            }else{
                                location.reload();
                            }
                        }
                    });
                    //向服务端发送删除指令
                });

            }
        });


    });

    layui.use('form', function(){
        var form = layui.form;
        form.verify({
            start_time: function(value){
                var  end_time = $("#end_time").val();
                if( end_time != ""){
                    if( value == "" ){
                        return '请选择开始时间';
                    }
                }
            }
        });
    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //时间选择器
        laydate.render({
            elem: '#start_time'
            ,type: 'datetime'
            ,trigger: 'click'
        });
        laydate.render({
            elem: '#end_time'
            ,type: 'datetime'
            ,trigger: 'click'
        });
    });
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-normal layui-btn-mini" lay-event="del">删除</a>
</script>
{/block}